.auth-group {
  .form-group {
    width: 100%;
    margin: 0 auto;

    .input-control {
      margin-bottom: 2rem;
      color: #000;
    }

    label {
      color: #00ad5f;
    }

    .btn-login, .btn-register, .btn-forget {
      background: #00ad5f;
      color: #fff;
    }
  }

  .form-forgot {
    padding-top: 27px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
  }

  .form-signup {
    text-align: center;
    width: 100%;
  }

  .txt1 {
    font-family: inherit;
    font-size: 13px;
    line-height: 1.4;
    color: #999999;
    text-decoration: none;
  }

  .txt2 {
    font-family: inherit;
    font-size: 13px;
    line-height: 1.4;
    color: #00ad5f;
    text-decoration: none;
  }

  .txt3 {
    font-family: inherit;
    font-size: 15px;
    line-height: 1.4;
    color: #00ad5f;
    text-transform: uppercase;
    text-decoration: none;
  }


  .container-login,
  .container-forget,
  .container-registration {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #f2f2f2;
  }

  .container-forget {
    background: #b2a601;
  }

  .wrap-auth {
    width: 1170px;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
    //min-height: 400px;
  }

  .auth-more {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }

  .container-login .auth-more {
    background-image: url('images/form-login.gif');
  }

  .container-registration .auth-more {
    background-image: url('images/form-register.gif');
  }

  .container-forget .auth-more {
    background-image: url('images/form-forget.gif');
  }

  .container-forget {
    .form-animation-enter {
      opacity: 0;
      transform: scale(0.9);
    }

    .form-animation-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }

    .form-animation-exit {
      opacity: 1;
    }

    .form-animation-exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
    }

    .btn-choose {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;

      &:hover {
        box-shadow: inset 0 -2px #000;
      }

      &:focus {
        box-shadow: inset 0 -6px #000;
      }

      &:last-child {
        margin-bottom: 0;
      }

      span.btn-choose--name {
        color: #fff;
        background: #000;
      }

      span[role="img"] {
        display: flex;
        justify-content: center;

        img {
          position: relative;
          top: unset;
          right: unset;
          transform: unset;
          max-width: 100px;
        }
      }
    }

    .form-signup {
      margin-top: 30px;

      .txt3 {
        transition: .2s linear box-shadow;
      }

      .txt3:hover {
        box-shadow: inset 0px -1px 0px 0px #b2a601;
      }

      .txt3:first-child {
        margin-right: 50px;
      }
    }
  }

  .auth-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }


  .login100-form,
  .register100-form,
  .forget100-form {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 160px 65px 40px 65px;
  }

  .forget100-chooser {
    padding: 40px 65px 40px 65px;
  }

  .auth-group .forget100-form {
    padding: 120px 65px 120px 65px;
  }

  @media (max-width: 992px) {
    .login100-form,
    .register100-form,
    .forget100-form {
      width: 60%;
      padding-left: 30px;
      padding-right: 30px;
    }

    .auth-more {
      width: 40%;
    }
  }

  @media (max-width: 768px) {
    .login100-form,
    .register100-form,
    .forget100-form {
      width: 100%;
    }

    .auth-more {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .login100-form,
    .register100-form,
    .forget100-form {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .forget100-form .btn.btn-choose {
      font-size: 2.4rem;
    }
  }
}
