*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;

}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

.form-group:last-child {
  margin-bottom: 0;
}

.input-control {
  width: 100%;
  display: block;
  min-height: 6.5rem;
}

.btn {
  width: 100%;
  display: block;
  min-height: 6rem;
}