/*Colors START*/
$white: #fff;
$black: #000;

/*Colors END*/


/*Break points*/
$breakpoint-desktop__big: 1800px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet__landscape: 900px;
$breakpoint-tablet__portrait: 650px;
$breakpoint-phone: 599px;


/*BGImages for Page Start START*/
$user-hello: '../../PageStart/HelloUser/images/user-hello.svg';  //HelloUser


$user-register--sprite: '../../PageStart/RegisterUser/images/user-register--sprite.png';
$user-register--foreground: '../../PageStart/RegisterUser/images/user-register--foreground.png';
$user-register--grass: '../../PageStart/RegisterUser/images/user-register--grass.png';
$user-register--cloud: '../../PageStart/RegisterUser/images/user-register--cloud.png';
$user-register--bg1: '../../PageStart/RegisterUser/images/user-register--bg1.png';
$user-register--bg2: '../../PageStart/RegisterUser/images/user-register--bg2.png';
$user-register--bg3: '../../PageStart/RegisterUser/images/user-register--bg3.png';
$user-register--bg4: '../../PageStart/RegisterUser/images/user-register--bg4.png';
$user-register--bg5: '../../PageStart/RegisterUser/images/user-register--bg5.png';

/*BGImages for Page Start END*/


