@import 'varibles';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


html {
  font-size: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-size: 1.6rem;

}


h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  .error {
    border-bottom: 2px solid #f33;
  }

  .valid {
    border-bottom: 2px solid #00ff22;
  }

  .error-message {
    color: #f33;
    padding: .5rem .2rem;
    position: absolute;
    font-size: 0.8rem;
    top: 3px;
    right: 0;
  }

  label {
    color: #24B9B6;
    //font-size: 1.2em;
    font-weight: 400;
    z-index: 0;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .input-control::-webkit-input-placeholder {
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .input-control::-moz-placeholder {
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .input-control:-ms-input-placeholder {
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .input-control::placeholder {
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .input-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
  }

  .input-control:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
  }

  .input-control:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0;
  }

  .input-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0;
  }

  .input-control:placeholder-shown:not(:focus) + * {
    font-size: 150%;
    opacity: .5;
    top: .25em;
  }

  .input-control:focus {
    outline: none;
    border-color: rgba(0, 0, 0, 0.5);
  }

  .password-type {
    pointer-events: initial;
    left: 60px;
    z-index: 0;
    cursor: pointer;
    top: -4px;
  }
}

.input-control {
  width: 100%;
  display: block;
  min-height: 6.5rem;
  color: #fff;
  font-size: inherit;
  padding-top: 1em;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  padding-right: 45px;
  text-overflow: ellipsis;

  &.login-fff {
    background: url('../images/form_login__white.svg') no-repeat 100% 80%;
    background-size: 35px;
  }

  &.email-fff {
    background: url('../images/form_email__white.svg') no-repeat 100% 80%;
    background-size: 35px;
  }

  &.password-fff {
    background: url('../images/form_password__white.svg') no-repeat 100% 80%;
    background-size: 35px;
  }

  &.login-000 {
    background: url('../images/form_login__black.svg') no-repeat 100% 80%;
    background-size: 35px;
  }

  &.email-000 {
    background: url('../images/form_email__black.svg') no-repeat 100% 80%;
    background-size: 35px;
  }

  &.password-000 {
    background: url('../images/form_password__black.svg') no-repeat 100% 80%;
    background-size: 35px;
  }
}


.btn {
  width: 100%;
  display: block;
  min-height: 6rem;
  transition: opacity .2s ease-in-out;
  text-decoration: none;

  &:hover {
    opacity: .8;
  }

  &:visited {
    color: inherit;
  }

  &:disabled {
    cursor: not-allowed !important;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

