/*Colors START*/
$white: #fff;
$black: #000;

/*Colors END*/


/*Break points*/
$breakpoint-desktop__big: 1800px;
$breakpoint-desktop: 1200px;
$breakpoint-tablet__landscape: 900px;
$breakpoint-tablet__portrait: 650px;
$breakpoint-phone: 599px;


/*BGImages for Page Start START*/
$user-hello: '../../Authorization/HelloUser/images/user-hello.svg';  //HelloUser
/*BGImages for Page Start END*/


