@import '../../_Common/css/varibles';

$color-black: #161616;
$color-white: #fff;
$size: 170px; // (Fully responsive)

#root {
  background: #161616;
}

// Cat
.cat {
  position: absolute;
  height: $size;
  width: $size * 1.13;
  right: 90px;
}

// Ears
.ear {
  position: absolute;
  top: -30%;
  height: 60%;
  width: 25%;
  background: $color-white;

  // Ear hair
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 24%;
    height: 10%;
    width: 5%;
    border-radius: 50%;
    background: $color-black;
  }

  &::after {
    transform-origin: 50% 100%;
  }
}

.ear--left {
  left: -7%;
  border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(-15deg);

  &::before,
  &::after {
    right: 10%;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.ear--right {
  right: -7%;
  border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
  transform: rotate(15deg);

  &::before,
  &::after {
    left: 10%;
  }

  &::after {
    transform: rotate(45deg);
  }
}

// Face
.face {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $color-black;
  border-radius: 50%;
}

//mouth
.mouth {
  position: absolute;
  left: 35%;
  bottom: 20%;
  z-index: 3;
  height: 10%;
  width: 30%;
  background: $black;
  border-radius: 10% 10% 50% 50%;

  .teeth {
    position: relative;
    margin: auto;
    height: 4px;
    width: 40%;
    background: #fff;
    border-radius: 0 0 20% 20%;
  }

  .tongue {
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 6px;
    width: 50%;
    background: red;
    border-radius: 50% 50% 30% 30%;
  }
}

// Eyes
.eye {
  position: absolute;
  top: 35%;
  height: 30%;
  width: 31%;
  background: #7e540c;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;

  // Eyelids
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    border-radius: 0 0 50% 50% / 0 0 40% 40%;
    background: $color-black;
    animation: blink 4s infinite ease-in;
  }

  @keyframes blink {
    0% {
      height: 0;
    }
    90% {
      height: 0;
    }
    92.5% {
      height: 100%;
    }
    95% {
      height: 0;
    }
    97.5% {
      height: 100%;
    }
    100% {
      height: 0;
    }
  }

  // Tips of the eyes
  &::before {
    content: '';
    position: absolute;
    top: 60%;
    height: 10%;
    width: 15%;
    background: $color-white;
    border-radius: 50%;
  }
}

.eye--left {
  left: 0;

  &::before {
    right: -5%;
  }
}

.eye--right {
  right: 0;

  &::before {
    left: -5%;
  }
}

// Pupils
.eye-pupil {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  background: $color-black;
  border-radius: 50%;
  animation: look-around 4s infinite;

  @keyframes look-around {
    0% {
      transform: translate(0)
    }
    5% {
      transform: translate(50%, -25%)
    }
    10% {
      transform: translate(50%, -25%)
    }
    15% {
      transform: translate(-100%, -25%)
    }
    20% {
      transform: translate(-100%, -25%)
    }
    25% {
      transform: translate(0, 0)
    }
    100% {
      transform: translate(0, 0)
    }
  }

  .eye--left & {
    right: 30%;
  }

  .eye--right & {
    left: 30%;
  }

  // Glare on the pupil
  &::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -5%;
    height: 20%;
    width: 35%;
    border-radius: 50%;
    background: $color-white;
  }
}

// Muzzle
.muzzle {
  position: absolute;
  top: 60%;
  left: 50%;
  height: 6%;
  width: 10%;
  background: $color-white;
  transform: translateX(-50%);
  border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
}

/* General page styling */


.register-group {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: 40%;
  background-size: 40%;
  background-position: 0 100%;
  align-items: flex-end;
  background-color: #161616;

  .section-greetings,
  .section-body {
    width: 100%;
    height: 100%;
    padding: 0 15px;
  }

  .section-greetings {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
      color: #fff;
      font-size: 6rem;

      a {
        text-decoration: none;
        color: #24b9b6;
      }
    }

    &__text {
      font-size: 2.2rem;
    }
  }

  .section-body {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    &__left,
    &__right {
      width: 50%;
    }

    &__right {
      form {
        max-width: 55rem;
        width: 100%;
      }
    }
  }
}

.register-group {
  .btn.btn-register {
    color: #fff;
    background: #24B9B6;
    border-radius: 25px;
    display: inline-block;
    line-height: 1.5;
    padding: 2rem;
    border: 3px solid #00000070;
    border-bottom-width: 2px;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    transition: .3s ease-in-out;
    width: 100%;
    min-width: 15rem;
    max-width: 70rem;
    min-height: 7rem;
    cursor: pointer;
    outline: 0;

    .selected-word {
      background: #000;
      color: #fff;
    }

    img {
      position: absolute;
      max-width: 50px;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    &.dflt:hover {
      -webkit-box-shadow: inset 0px 0px 0 1px #000;
      -moz-box-shadow: inset 0px 0px 0 1px #000;
      box-shadow: inset 0px 0px 0 1px #000;
    }

    &.btn__bottom-border:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: #000;
    }

    &.btn__bottom-border:hover {
      cursor: pointer;

      &.btn__bottom-border:after {
        width: 90%;
        left: 5%;
        right: 5%;
      }
    }
  }
}


@media (min-width: $breakpoint-desktop__big) { //bigdesktop >
  .cat {
    position: absolute;
    top: 550px;
    height: $size * 2;
    width: $size * 3;
    right: 90px;
  }

}


@media (max-width: $breakpoint-desktop__big) { //bigdesktop <
  .cat {
    position: absolute;
    top: 460px;
    height: $size * 1.4;
    width: $size * 2.1;
    right: 90px;
  }

}

@media (max-width: $breakpoint-desktop) { //desktop <
  .cat {
    position: absolute;
    top: 495px;
    height: $size * 1.49;
    width: $size * 1.7;
    right: 90px;
  }

}

@media (max-width: $breakpoint-tablet__landscape) { //tablet-landscape <

  .cat {
    position: relative;
    top: auto;
    right: auto;
    height: $size * 1.1;
    width: $size * 1.5;
  }

  .register-group {
    height: 100vh;

    input.input-control.login,
    input.input-control.email,
    input.input-control.password {
      background-size: 27px;
    }

    .section-body,
    .section-greetings {
      background: transparent;

      &__title {
        text-align: center;
      }
    }

    .section-body {
      flex-direction: column;

      &__left {
        padding-top: 60px;
      }

      &__left,
      &__right {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;

      }
    }
  }

}


@media (max-width: $breakpoint-phone) { //phone <

  .password-type.show {
    left: 60px;

    img {
      max-width: 18px;
    }
  }
  .cat {
    position: relative;
    top: auto;
    right: auto;
    height: $size - 40px;
    width: $size;
  }
  .ear {
    top: -20%;
    height: 40%;
  }
  .register-group {
    input.input-control.login,
    input.input-control.email,
    input.input-control.password {
      background-size: 17px;
    }

    .section-body__left {
      padding-top: 40px;
    }

    .section-greetings__title {
      font-size: 2.7rem;
      text-align: center;

    }
  }
}

@media (max-height: 680px) and (min-width: 1024px) {
  .cat {
    top: 200px;
  }
  .register-group {
    .section-greetings {
      &__title {
        font-size: 4rem;
      }

      &__text {
        font-size: 1.7rem;
      }
    }
  }
}

@media (orientation: landscape) and (max-width: $breakpoint-tablet__landscape) and (max-height: 500px) {
  .register-group {
    height: 100%;

    .section-body__left {
      padding-top: 107px;
    }

  }


}

@media (orientation: landscape) and (max-width: $breakpoint-tablet__landscape) and (max-height: 300px) {
  .cat {
    height: 60px;
    width: 80px;
  }
}



