@import '../../_Common/css/varibles';


.start-group {
  background-image: url($user-hello), url('images/sun.svg');
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-repeat: no-repeat;
  -webkit-background-size: 40%, 50%;
  background-size: 40%, 50%;
  background-position: 0 100%, -20% 0;
  align-items: flex-end;

  .section-greetings, .section-body {
    width: 50%;
    height: 50%;
    padding: 0 15px;
  }

  .section-greetings {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
      font-size: 6.4rem;
      margin: 0;
    }

    &__text {
      font-size: 3.8rem;
      margin: 0;
    }
  }

  .section-body {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;

    &__true,
    &__false {
      width: 100%;
    }
  }
}

/*Buttons*/

.btn {
  font-size: 2rem;
  border-radius: 25px;
  display: inline-block;
  line-height: 1.5;
  padding: 2rem;
  border: 3px solid #00000070;
  border-bottom-width: 2px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  transition: .3s ease-in-out;
  width: 100%;
  min-width: 15rem;
  max-width: 70rem;
  min-height: 7rem;
  cursor: pointer;
  outline: 0;

  .selected-word {
    background: #000;
    color: #fff;
  }

  img {
    position: absolute;
    max-width: 50px;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &.dflt:hover {
    -webkit-box-shadow: inset 0px 0px 0 1px #000;
    -moz-box-shadow: inset 0px 0px 0 1px #000;
    box-shadow: inset 0px 0px 0 1px #000;
  }

  &.btn__bottom-border:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #000;
  }

  &.btn__bottom-border:hover {
    cursor: pointer;

    &.btn__bottom-border:after {
      width: 90%;
      left: 5%;
      right: 5%;
    }
  }
}


/**Responsive**/



@media all and (max-width: 991px) {
  .xl-screen {
    display: none;
  }
  .btn .selected-word {
    background: transparent;
    color: #000;
  }
  .btn img {
    max-width: 35px;
  }
  .start-group {

    -webkit-background-size: 60%, 30%;
    background-size: 60%, 30%;
    background-position: 50% 100%, 105% 80%;
    .section-greetings {
      width: 100%;
      &__title {
        font-size: 6.6rem;
        margin: 2rem 0;
      }
      &__text {
        font-size: 2.0rem;
        margin: 1rem 0;
      }
    }
    .section-body {
      flex-direction: row;
      width: 100%;
    }
  }
}

@media all and (max-width: 767px) {
  .start-group {
    background-size: 60%, 30%;
    background-position: 50% 100%, 100% 83%;
    .section-greetings, .section-body {
      width: 100%;
      height: auto;
    }

    .section-body {
      flex-direction: row;
      margin-top: 10%;

      &__true, &__false {
        width: 40%;

      }
    }
  }
}

@media all and (max-width: 650px) {
  .btn .selected-word {
    font-size: 1.9rem;
  }
  .start-group {
    .section-greetings {
      &__title {
        font-size: 4rem;
      }
      &__text {
        font-size: 2rem;
      }
    }
    .section-body {
      flex-direction: column;
      align-items: center;

      &__true, &__false {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      &__true {
        margin-bottom: 1rem;
      }
    }
  }
}

@media all and (max-height: 600px) and (orientation: landscape){
 .start-group {
   background: #ffffff url('images/user-hello-sm.gif') no-repeat;
   background-size: 50% 100%;
   background-position: 100% 100%;
   color: #000;
   .section-greetings, .section-body {
     padding-right: 27rem;
     width: 100%;
   }
   .section-greetings {
     &__title {
       font-size: 5.6rem;
     }
     &__text {
       font-size: 2.2rem;
     }
   }
   .section-body {
     margin-top: 5%;
     flex-direction: column;
     &__true,
     &__false {
       width: 100%;
     }
     &__true {
       margin-bottom: 1rem;
     }

     .btn {
       max-width: 60rem;
       img {
         max-width: 25px;
       }
     }
   }

 }
}

@media all and (max-width: 640px) and (max-height: 600px) and (orientation: landscape) {
  .start-group {
   .section-greetings, .section-body {
     padding-right: 34rem;
   }
    .section-greetings {
      &__title {
        font-size: 5.6rem;
      }
      &__text {
        font-size: 2.2rem;
      }
    }
  }
}



//**SUN ANIMATION**//

#svg {
  margin: 0 auto;
  background: #cce6ed;
  height: 400px;
}


